body {
    background-color: #ebcbd0;
    font-family: Arial;
}

.info {
    margin: 50px;
}

.header {
    align-items: center;
    height: 46px;
    right: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    top: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 10px;
  }

.button_wrapper {
    background-color: white;
    justify-content: center;
    margin-right: auto;
    flex: 1;
    display:flex;
    height: 50px;
    border-radius: 25px;
}

.button_wrapper > a {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #ebcbd0;
    text-decoration: none;
    font-weight: bold;
} 

  .button_wrapper > a:hover {
    color: black;
    text-decoration: border;
    text-decoration-color: black;
    text-underline-offset: 14px;
    text-decoration-thickness: 3px;
  }

  html {
    scroll-behavior: smooth;
  }


  .about_div {
      display: flex;
      border-radius: 25px;
  }


  .about_div p {
      margin: 10px;
      font-size: 150%;
  }

  .experience p {
    margin: 10px;
    font-size: 150%;
  }

  .contact p {
    margin: 10px;
    font-size: 150%;
  }

  .welcome{
      text-align: center;
      font-size: 500%;
      color: white;
  }

  .empty_div {
      height:200px;
      background-color:#ebcbd0;
  }

  h1.ml8 {
    font-weight: 900;
    font-size: 4.5em;
    color: #fff;
    width: 3em;
    height: 3em;
  }
  
  .ml8 .letters-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 1em;
  }
  
  .ml8 .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: -0.12em;
    top: -0.2em;
  }
  
  .ml8 .bang {
    font-size: 1.4em;
    top: auto;
    left: -0.06em;
  }
  
  .ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
  }
  
  .ml8 .circle-white {
    width: 3em;
    height: 3em;
    border: 2px dashed white;
    border-radius: 2em;
  }
  
  .ml8 .circle-dark {
    width: 2.2em;
    height: 2.2em;
    background-color: #4f7b86;
    border-radius: 3em;
    z-index: 1;
  }
  
  .ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed #4f7b86;
    width: 2.3em;
    height: 2.3em;
  }

  .header-wrapper {
      display: flex;
      height: 70px;
  }

  .about_description {
    font-weight: 50;
    font-family:  'Montserrat', sans-serif;
    padding-left: 100px;
    padding-right: 50px;
  }

  .experience p {
    font-weight: 50;
    font-family:  'Montserrat', sans-serif;
  }

  .contact p {
    font-weight: 50;
    font-family:  'Montserrat', sans-serif;
  }

  .socials a {
    margin: 10px;
    color: black;
    font-size: larger;
  }

  .socials {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 10px;
    margin:40px;
  }

  .socials > a:hover {
    color: white;
    text-decoration: border;
    text-decoration-color: black;
    text-underline-offset: 14px;
    text-decoration-thickness: 3px;
  }

  .hover:hover {
    color: lightgoldenrodyellow;
  }

  .coursework_list {
    font-family:  'Montserrat', sans-serif;
    font-weight: 50;
    font-size: 150%;
  }


.wave {
  float: left;
  margin: 20px;
  animation: wave  ease-in-out 0.5s infinite alternate;
  transform-origin: center -20px;
}

.wave:hover {
  animation-play-state: paused;
}

.wave img {
  border: 5px solid black;
  display: block;
  width: 200px;
  height: 205px;
}

.wave figcaption {
  text-align: center;
}

.wave:after{
  content: '';
  position: absolute;
  width: 20px; 
  height: 20px;
  border: 1.5px solid black;
  top: -10px; 
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
       
.wave:before{
  content: '';
  position: absolute;
  top: -23px;
  left: 50%;
  display: block;
  height: 44px;
  width: 47px;
  background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1602040503586/FW6g79WBY.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  z-index: 16;
}
        
@keyframes wave {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}
